<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.min.css" />
  <style>
    html, body, .tabs-panel, iframe {
      width: 100%;
      height: 100%;
    }
    iframe {
      border: none;
    }
    .tabs-panel {
      padding: 0px;
    }
    .tabs-content {
      height: calc(100% - 54px);
      width: 100%;
    }
    .nav-buttons {
      position: absolute;
      top: 5px;
      right: 20px;
    }
  </style>
</head>
<body>
    <div class="row">
    <br><br>
    <a class="button" href="/presentation">Presentation</a><br>
    <a class="button" href="http://go.gitforidex.com">Start Exercises</a><br>
    <a class="button" href="http://git.gitforidex.com/register">Try GitCloud</a><br>
    <a class="button" href="/final">Final Exercise</a><br>
    
    <h4>Step 1 - Get Git</h4>
    &nbsp;&nbsp;&nbsp;OPTION 1: Try GitCloud app<br>
    &nbsp;&nbsp;&nbsp;OPTION 2: Download Git (<a href="https://git-scm.com/">https://git-scm.com/</a>)<br>
    &nbsp;&nbsp;&nbsp;OPTION 3: Download a Git GUI (<a href="https://git-scm.com/downloads/guis">https://git-scm.com/downloads/guis</a>)<br>
    
    <h4>Step 2 - Complete Exercises</h4>
    
    <h4>Step 3 - Complete Final Exercise</h4>
    
    </div>
    {{ leaderboard|raw }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
    <script>
    (function ($) {
      $(document).foundation();
    })(jQuery);
    </script>
</body>
</html>