<div class="row" id="wrapper">
    <div class="medium-4 columns">
        <h2>Leaderboard</h2>
        <ul>
        {% for user in users %}
            <li><strong>{{ user.name }}</strong> &lt;{{ user.email }}&gt;</li>
        {% endfor %}
        </ul>
    </div>
</div>